<h3>Music Store</h3>
  <ul class="nav nav-tabs">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/lists">Lists</a></li>
    <li><a href="#/manage">Manage</a></li>
    <li class="active"><a href="#/report">Report</a></li>
  </ul>
  <br>

<table class="table">
    <tr>
        <td>Report Name</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>List of All Songs</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="generateReport()">Add</button>
        </td>
    </tr>
</table>